*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
section.items-container{
    height: 650px;
}
.carousel-container {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    border: 2px solid magenta;
    position: relative;

}

img{
    object-fit: cover;
}
#right{
    bottom: 0px;
    right: 20%;

    
    
}
#left{
    bottom: 0px;
    left: 20%;
    
}
img{
    object-fit: cover;
    width: 100%;
height: 100%;

}
.background-image{

    background-size: cover;
   
    background-position: center;
    height: 70%;

}
h2{
    margin-top: 1rem;
    color: white;
    position: absolute;
    bottom: 5rem;
}
p{
    color: white;
    position: absolute;
    bottom: 0;
}
.thumbnails-container{
    width: 90%;
    margin: 0 auto;
}
.thumbnails{
    width: 100%;
    height: 100px;
   
}
.thumbnails img{
    filter: brightness(40%);
}
.active{

    filter: brightness(300%);

    border: 2px solid chartreuse;
}